<div class="Chat-bar">
	<section class="Box-chat">

		<div class="sidenav">
			<a href="#services">
				<img src="<%= user.img%>" alt="">
			</a>
			<a href="#about">
				<%= user.fname%> <%= user.lname%>
			</a>
		</div>

		<div class="main">
			<h1>Messages Area</h1>
			<% result.forEach(res =>{ %> 
				<img src="<%= res.memberImg %> " alt="">
				<p><%= res.memberFname %> <%= res.memberLname %> </p>
			<p><%= res.message %> </p>
			<% }) %> 
		</div>

		<div class="chat-send">
			<form action="/postChat" method="post" class="input-area" autocomplete="off">
				<input type="text" class="input_ff" placeholder="Type a message here ..." name="message">
				<input type="text" value="<%= user.id %> " name="sender" hidden>
				<input type="text" value="<%= user.fname %> " name="sender_fname" hidden>
				<input type="text" value="<%= user.lname %> " name="sender_lname" hidden>
				<input type="text" value="<%= user.img %> " name="sender_img" hidden>
				<button><i class="fab fa-telegram-plane"></i></button>
			</form>
		</div>
		

	</section>
</div>